body {
  background-color: #FFDC52;
}


.pic {
  margin: auto;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: 5px solid white;
  background-size: contain;
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu-content {
  vertical-align: top;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 300px;
  margin: 1% auto;
  top: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  text-align: center;
  display: inline-block;
}

#allegro-header {
  text-align: center;
  padding: .5rem;
  padding-top: 1rem;
}

.inner {
  display: inline-block;
  text-align: center;
  width: 33%;
}

#treble {
  background-image: url(../img/musical-note.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(250, 0, 0, 0.568);
}

#bass {
  background-image: url(../img/bass.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(250, 0, 0, 0.568);
}

#mixed {
  background-image: url(../img/book.png);
  background-color: rgba(250, 0, 0, 0.568);
}

#advtreble {
  background-image: url(../img/book.png);
  background-color: rgba(250, 0, 0, 0.568);
}

#advbass {
  background-image: url(../img/book.png);
  background-color: rgba(250, 0, 0, 0.568);
}

#pitch {
  background-image: url(../img/book.png);
  background-color: rgba(250, 0, 0, 0.568);
}

#wrapper {
  width: 100%;
}

.tablinks {
  color: black;
  background-color: white;
  border: 2px solid goldenrod;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.tabactive, .tablinks:hover {
  background-color: goldenrod;
  transition-duration: 0.75s;
  border: 2px solid white;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.tablinks:focus{
  outline: none;  
}

.scoretable {
  border-collapse: collapse;
  margin-top: 4%;
}

tbody {
  display: table;
  width: 100%;
}

tr{
  border-bottom: 1px solid grey;
  transition-duration: 0.5s;
}

tr:hover{
  background-color: greenyellow;
  font-size: 16pt;
  transition-duration: 0.5s;
}