body {
  background-color: #FFDC52;
}


.pic {
  margin: auto;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: 5px solid white;
  background-size: contain;
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu-content {
  vertical-align: top;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 300px;
  margin: 1% auto;
  top: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  text-align: center;
  display: inline-block;
}

#allegro-header {
  text-align: center;
  padding: .5rem;
  padding-top: 1rem;
  text-shadow: 3px 3px 6px rgb(77, 162, 231);
  
}

.inner {
  display: inline-block;
  text-align: center;
  width: 33%;
}

#treble {
  background-image: url(../img/musical-note.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(250, 0, 0, 0.568);
}

#wrapper {
  width: 100%;
}

.tablinks {
  color: black;
  background-color: white;
  border: 2px solid goldenrod;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.tabactive, .tablinks:hover {
  background-color: goldenrod;
  transition-duration: 0.75s;
  border: 2px solid white;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.tablinks:focus{
  outline: none;  
}

.scoretable {
  border-collapse: collapse;
  margin-top: 4%;
}


tbody {
  display: table;
  width: 100%;
}

tbody:nth-child(2):hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 40%, #000 50%, rgba(0, 0, 0, .6) 95%);
  -webkit-mask-size: 200%;
  animation: goldshine 3s infinite;
}

tbody:nth-child(3):hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 40%, #000 50%, rgba(0, 0, 0, .6) 95%);
  -webkit-mask-size: 200%;
  animation: silvershine 3s infinite;
}

tbody:nth-child(4):hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 40%, #000 50%, rgba(0, 0, 0, .6) 95%);
  -webkit-mask-size: 200%;
  animation: bronzeshine 3s infinite;
}

@-webkit-keyframes goldshine {
  from {
   -webkit-mask-position: 150%;
   background-color: rgb(255, 215, 0, 0.85);   
 }
 
 to {
   -webkit-mask-position: -50%;
   background-color: rgb(255, 215, 0, 0.9);
 }
}

@-webkit-keyframes silvershine {
  from {
   -webkit-mask-position: 150%;
   background-color: rgb(215, 215, 215, 0.85);   
 }
 
 to {
   -webkit-mask-position: -50%;
   background-color: rgb(215, 215, 215, 0.9);
 }
}

@-webkit-keyframes bronzeshine {
  from {
   -webkit-mask-position: 150%;
   background-color: rgb(173, 138, 86, 0.85);   
 }
 
 to {
   -webkit-mask-position: -50%;
   background-color: rgb(173, 138, 86, 0.9);
 }
}

tr{
  border-bottom: 1px solid grey;
  transition-duration: 0.5s;
}

/*tr:nth-of-type(2):hover{
  
}*/

@media only screen and (max-width: 960px) {
  .inner {
    width: 48%;
  }
}

@media only screen and (max-width: 650px) {
  .inner {
    width: 100%;
  }
}